- @programs.each do |program|
  .program
    %h2.page-header
      = program.title
    .row
      .span6
        %h3
          - if program.objectives.size < 1
            = link_to "Backlog", new_program_objective_path(program)
          - else
            = link_to "Backlog", program
        .size
          - if program.objectives.size > 0
            %h6= "#{program.objectives.size} Objectives"
          - else
            %p= "The Backlog is a prioritized list of objectives."
        %br
        %h3
          = link_to "Plan", program.plan
        .size
          - if program.plan.objectives.size > 0
            %h6= "#{program.plan.objectives.size} Objectives planned"
          - else
            %p= "The Plan allows you track the progress of your objectives."
      .span6
        %h3
          Program Projects
          - program.projects.each do |project|
            %h3= link_to project.title, project
