%h1.page-header
  Programs
- @programs.each do |program|
  .row
    .span6
      %h2.page-header
        Projects
        - program.projects.each do |project|
          %h3= link_to project.title, project
    .span6
      %h2.page-header
        Program Backlog
      .size
        = "#{program.objectives.size} Objectives"
      %h2.page-header
        Program Plan 
      = link_to program.plan.title, program.plan
      .size
        = "#{program.plan.objectives.size} Objectives planned"
