%h1.page-header
  Capture and Prioritize
.row
  .span6
    .actions
      = link_to "New Objective", new_program_objective_path(@program), class: 'btn'
    .row
      .span3
        %h6 
          Objectives
      .span1
        %h6
          Value
      .span1
        %h6
          Size
      .span1
        %h6
          Compare
    %ul.objectives.unstyled
      -@program.objectives.each do |objective|
        %li.objective{'data-objective-id' => objective.id }
          .row
            .span3
              .handle.icon-align-justify
              = truncate(objective.title, length: 32)
              = link_to edit_program_objective_path(objective.program, objective), title: objective.title, rel: 'tooltip' do
                .icon-edit
            .span1.value{title: '', rel: 'tooltip'}
              .fill
            .span1.cost{title: '', rel: 'tooltip'}
              .fill
            .span1.compare_column
              = check_box "compare", objective.id, :class => 'compare_checkbox pull-right', 'data-title' => objective.title, 'data-value' => objective.value, 'data-cost' => objective.cost, 'data-ratio' => objective.ratio, 'data-id' => objective.id
  .span6
    = link_to "Start Planning", @program.plan, class: 'btn pull-right btn-primary'
    %ul#charts.nav.nav-tabs
      %li.active
        %a{href: '#first_chart', 'data-toggle' => 'tab'}
          Chart
      %li
        %a{href: '#second_chart', 'data-toggle' => 'tab'}
          Ratios
      %li
        %a{href: '#third_chart', 'data-toggle' => 'tab'}
          Graph
    .tab-content
      .tab-pane#first_chart.active
        #chart
      .tab-pane#second_chart
        #ratio_chart
      .tab-pane#third_chart
        #graph_chart
