= form_for  [@objective.program, @objective] do |f|
  -if @objective.errors.any?
    #error_explanation
      %h2= "#{pluralize(@objective.errors.count, "error")} prohibited this objective from being saved:"
      %ul
        - @objective.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label "Purpose"
    = f.text_area :description, :rows => 3, :cols => 40, :placeholder => "Describe the purpose of this objective"
  .field
    = f.label :value
    = f.number_field :value
  .field
    = f.label "Size"
    = f.number_field :cost
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
